header {
  height: 40px;
}

.head-first {
  background-color: rgba(0, 0, 0, 0);
  float: left;
  width: 33.33%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
}

.head-second {
  float: left;
  width: 33.33%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
}

.head-third {
  float: left;
  width: 33.33%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
}

@media (max-width: 1275px) {
  .head-first,
  .head-second,
  .head-third {
    width: 33.33%;
    float: left;
    height: 41px;
    padding-top: 10px;
  }

  header {
    margin-bottom: 0px;
    height: 43px;
    margin-bottom: 3%;
  }
}

@media (max-width: 800px) {
  .head-first,
  .head-second,
  .head-third {
    width: 33.33%;
    padding: 0px;
    padding-top: 3%;
  }
}
