.rates {
  height: 250px;
  margin-bottom: 3%;
}

.rate-button {
  background-color: blue;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.econom-block {
  float: left;
  width: 33.33%;
  height: 250px;
  text-align: center;
  padding-top: 3%;
  background-color: white;
}

.normal-block {
  float: left;
  width: 33.33%;
  height: 250px;
  text-align: center;
  padding-top: 3%;
  background-color: white;
}

.gold-block {
  float: left;
  width: 33.33%;
  height: 250px;
  text-align: center;
  padding-top: 3%;
  background-color: white;
}

.rate-name {
  padding-bottom: 15px;
}

.text-medium li {
  list-style: none;
}

.best-sale {
  color: blue;
  margin-top: 15px;
}

@media (max-width: 1275px) {
  .rates,
  .econom-block,
  .normal-block,
  .gold-block {
    height: auto;
    padding: 0px;
  }

  .rates {
    margin-bottom: 0%;
    height: 296px;
  }

  .rate-button {
    margin-left: 10%;
    margin-right: 10%;
  }

  .best-sale {
    margin-top: 3%;
  }
  
  .econom-block,
  .normal-block,
  .gold-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .econom-block,
  .normal-block,
  .gold-block {
    float: none;
    width: auto;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    height: 200px;
  }
  .econom-block {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .normal-block {
    padding-top: 0px;
  }

  .gold-block {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .rates {
    height: 622px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 13%;
    padding-left: 13%;
  }

  .best-sale {
    margin-top: 3%;
  }
}
