body a:hover {
  border-radius: 50px;
  background: blue;
  color: #fff;
}

body {
  background-image: url("https://top-fon.com/uploads/posts/2022-09/1663858726_32-top-fon-com-p-fon-serie-soti-foto-35.jpg");
  background-attachment: fixed;
  font-family: "URW Chancery L", cursive;
  font-style: italic;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
}

.intro {
  background-image: url("../photos/boots_stepcounter2.jpg");
  background-repeat: repeat-x;
  background-size: 40% auto;
  background-attachment: scroll, fixed;
  background-position: 50% 100%, center bottom;
  color: black;
  text-align: center;
  margin-bottom: 3%;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.1);
}

.intro-text {
  margin-bottom: 30%;
  margin-top: 30px;
}

.intro-text h1 {
  font-size: 80px;
}

.intro-text h2 {
  font-size: 40px;
}

.image {
  padding-bottom: 60px;
  width: auto;
}

.description {
  background-image: url("../photos/walking_people.jpg");
  background-repeat: repeat-x;
  background-size: 30% auto;
  background-attachment: scroll, fixed;
  background-position: 50% 100%, center bottom;
  color: black;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.1);
}

.disclamer {
  font-size: 30px;
  padding-bottom: 60px;
  padding-top: 10px;
}

.text-lead {
  color: black;
  max-width: 70%;
  margin: 0 15%;
}

.button {
  font-family: "Trebuchet MS", sans-serif;
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  color: white;
}

.buffer-both {
  background-color: blue;
  margin-left: 38%;
  margin-right: 38%;
  border-radius: 150px;
  margin-top: 50px;
}

.text-lead {
  font-size: 20px;
}

.title-large {
  font-size: 48px;
  margin-bottom: 18px;
}

@media (max-width: 1275px) {
  .description {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: none;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .disclamer {
    padding: 0px;
  }

  .intro {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px;
  }
}

@media (max-width: 800px) {

  .intro-text .buffer-both .button{
    padding: 2%;
  }

  .intro .buffer-both {
    margin-left: 30%;
    margin-right: 30%;
  }

  .description {
    background-image: none;
  }

  .intro {
    background-image: none;
    padding: 0px;
  }

  .image {
    max-width: 100%;
  }
}
