body a:hover {
  border-radius: 50px;
  background: blue;
  color: #fff;
}

body {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: italic;
}

.intro {
  background-color: white;
  text-align: center;
  height: 500px;
  padding-left: 5%;
  padding-right: 5%;
}

.picture {
  background-color: white;
  max-width: 47%;
  float: left;
}

.intro-text {
  height: 443px;
  background-color: white;
  width: 47%;
  float: right;
  padding-top: 4.30%;
  padding-left: 30px;
}

.description {
  color: black;
  text-align: center;
}

.disclamer {
  background-color: black;
  color: white;
  padding: 3%;
}

.text-lead {
  margin-top: 30px;
}

.button {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  color: white;
}

.buffer-both {
  background-color: blue;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 150px;
  margin-top: 60px;
}

@media (max-width: 1275px) {
  .intro {
    height: 550px;
  }

  .disclamer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .picture {
    padding-top: 15%;
  }

  .buffer-both {
    margin-left: 15%;
    margin-right: 15%;
  }

  .intro .picture {
    text-align: center;
    width: auto;
  }

  .photo {
    max-width: 300px;
    float: left;
  }

  .intro-text {
    float: right;
  }
}

@media (max-width: 800px) {
  
  .intro,
  .picture,
  .intro-text {
    float: none;
    width: auto;
  }

  .intro-text {
    padding: 0px;
  }

  .buffer-both {
    margin-bottom: 50px;
  }

  .picture {
    width: 448px;
    height: 276px;
  }

  .photo {
    padding-left: 9%;
    padding-right: 15%;
    margin-bottom: 50px;
  }

  .disclamer {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 13%;
    padding-left: 13%;
  }

  .intro {
    height: 885px;
  }
