.team:after {
  width: 100%;
  height: 440px;
}

.job-title {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.manager-block {
  float: left;
  width: 50%;
  height: 440px;
  text-align: center;
  background-color: black;
}

.ingener-block {
  float: right;
  width: 50%;
  height: 440px;
  text-align: center;
  background-color: black;
}

.photo-ingener {
  width: auto;
  height: auto;
  padding: 20px;
}

.photo-manager {
  width: auto;
  height: auto;%;
  padding: 20px;
}

.speech-manager {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

.speech-ingener {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

@media (max-width: 1275px) {
  .manager-block,
  .ingener-block {
    float: none;
    width: auto;
    height: auto;
    border: none;
    padding-top: 40px;
    padding-right: 13%;
    padding-left: 13%;
  }

  .ingener-block {
    padding-top: 20px;
  }

  .job-title {
  padding: 0px;
  padding-bottom: 20px;
}

  .ingener-block {
    padding-bottom: 40px;
  }

  .speech-ingener {
    padding: 0px;
  }

  .speech-manager {
    padding-bottom: 20px;
  }

  .photo-ingener,
  .photo-manager {
    float: none;
    max-width: 80%;
  }
}

@media (max-width: 800px) {
  .manager-block,
  .ingener-block {
    float: none;
    width: auto;
    height: auto;
    border: none;
    padding-left: 5%;
    padding-right: 5%;
  }

  .ingener-block {
  }

  .speech-ingener {
    margin: 0px;
  }

  .photo-ingener,
  .photo-manager {
    float: none;
    max-width: 80%;
  }
}
